
    /* background-color: rgb(129, 53, 136); */

    /* color:#fcb900; */
 
/* navbar */

nav{
   background-color: rgb(129, 53, 136);
    display:flex;
    align-items:center;
    gap:30px;
    /* color:white; */
}
.title{
    padding-left:300px;
    font-size: 40px;
    color: white;
}
a{
    text-decoration: none;
    color:#fcb900;
}
/* .lbtn{
    color:#fcb900;
    border-color: #fcb900;

} */
.lbtn{
    color: #fcb900;
    border-color: #fcb900;
    border-radius: 5px;
    background-color:transparent;
}
.icon1{
    background-color: #fcb900;
    border: 20px;
}



/* article */
.a1{
    text-align: center;
    width:30%;
    margin-left:500px;
    margin-bottom: 50px;
}
.a2{
    text-align: center;
}
.i1{
    width:300px;
   
}
.i1 p{
    padding-left: 80px;
    font-size:20px;
    width:180px;
}
.a3{
    margin-left:70px;
    display:flex;
    gap:160px;
}